<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>imagename</key>
			<string>PointCard0</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PointCard1</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PointCard2</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PointCard3</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PointCard4</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PointCard5</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PointCard6</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PointCard7</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PointCard8</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PointCard9</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PointCard10</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PointCard11</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PointCard12</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PointCard13</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PointCard14</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PointCard15</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PointCard16</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PointCard17</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PointCard18</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PointCard19</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imagename</key>
			<string>PictureCard0</string>
			<key>voiceTitle</key>
			<string>环形</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PictureCard1</string>
			<key>voiceTitle</key>
			<string>正方形</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PictureCard2</string>
			<key>voiceTitle</key>
			<string>椭圆形</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PictureCard3</string>
			<key>voiceTitle</key>
			<string>长方形</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PictureCard4</string>
			<key>voiceTitle</key>
			<string>三角形</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PictureCard5</string>
			<key>voiceTitle</key>
			<string>星形</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PictureCard6</string>
			<key>voiceTitle</key>
			<string>梯形</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PictureCard7</string>
			<key>voiceTitle</key>
			<string>扇形</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PictureCard8</string>
			<key>voiceTitle</key>
			<string>心形</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imagename</key>
			<string>BlackWriteCard0</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>BlackWriteCard1</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>BlackWriteCard2</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>BlackWriteCard3</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>BlackWriteCard4</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>BlackWriteCard5</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>BlackWriteCard6</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>BlackWriteCard7</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>BlackWriteCard8</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>BlackWriteCard9</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>BlackWriteCard10</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>BlackWriteCard11</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>BlackWriteCard12</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>BlackWriteCard13</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>BlackWriteCard14</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>BlackWriteCard15</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>BlackWriteCard16</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>BlackWriteCard17</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>BlackWriteCard18</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>BlackWriteCard19</string>
			<key>voiceTitle</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imagename</key>
			<string>ColorCard0</string>
			<key>voiceTitle</key>
			<string>灰色</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>ColorCard1</string>
			<key>voiceTitle</key>
			<string>黑色</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>ColorCard2</string>
			<key>voiceTitle</key>
			<string>紫色</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>ColorCard3</string>
			<key>voiceTitle</key>
			<string>橙色</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>ColorCard4</string>
			<key>voiceTitle</key>
			<string>粉色</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>ColorCard5</string>
			<key>voiceTitle</key>
			<string>蓝色</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>ColorCard6</string>
			<key>voiceTitle</key>
			<string>绿色</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>ColorCard7</string>
			<key>voiceTitle</key>
			<string>红色</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>ColorCard8</string>
			<key>voiceTitle</key>
			<string>黄色</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>ColorCard9</string>
			<key>voiceTitle</key>
			<string>棕色</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imagename</key>
			<string>FruitCard0</string>
			<key>voiceTitle</key>
			<string>苹果</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FruitCard1</string>
			<key>voiceTitle</key>
			<string>杏</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FruitCard2</string>
			<key>voiceTitle</key>
			<string>香蕉</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FruitCard3</string>
			<key>voiceTitle</key>
			<string>椰子</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FruitCard4</string>
			<key>voiceTitle</key>
			<string>哈密瓜</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FruitCard5</string>
			<key>voiceTitle</key>
			<string>猕猴桃</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FruitCard6</string>
			<key>voiceTitle</key>
			<string>柠檬</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FruitCard7</string>
			<key>voiceTitle</key>
			<string>荔枝</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FruitCard8</string>
			<key>voiceTitle</key>
			<string>芒果</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FruitCard9</string>
			<key>voiceTitle</key>
			<string>山竹</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FruitCard10</string>
			<key>voiceTitle</key>
			<string>橙子</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FruitCard11</string>
			<key>voiceTitle</key>
			<string>桃子</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FruitCard12</string>
			<key>voiceTitle</key>
			<string>梨</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FruitCard13</string>
			<key>voiceTitle</key>
			<string>菠萝</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FruitCard14</string>
			<key>voiceTitle</key>
			<string>石榴</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FruitCard15</string>
			<key>voiceTitle</key>
			<string>杨桃</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FruitCard16</string>
			<key>voiceTitle</key>
			<string>草莓</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FruitCard17</string>
			<key>voiceTitle</key>
			<string>橘子</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FruitCard18</string>
			<key>voiceTitle</key>
			<string>西瓜</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FruitCard19</string>
			<key>voiceTitle</key>
			<string>杨梅</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imagename</key>
			<string>VegetableCard0</string>
			<key>voiceTitle</key>
			<string>小白菜</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>VegetableCard1</string>
			<key>voiceTitle</key>
			<string>菠菜</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>VegetableCard2</string>
			<key>voiceTitle</key>
			<string>番茄</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>VegetableCard3</string>
			<key>voiceTitle</key>
			<string>胡萝卜</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>VegetableCard4</string>
			<key>voiceTitle</key>
			<string>花菜</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>VegetableCard5</string>
			<key>voiceTitle</key>
			<string>黄瓜</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>VegetableCard6</string>
			<key>voiceTitle</key>
			<string>豇豆</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>VegetableCard7</string>
			<key>voiceTitle</key>
			<string>卷心菜</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>VegetableCard8</string>
			<key>voiceTitle</key>
			<string>苦瓜</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>VegetableCard9</string>
			<key>voiceTitle</key>
			<string>辣椒</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>VegetableCard10</string>
			<key>voiceTitle</key>
			<string>南瓜</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>VegetableCard11</string>
			<key>voiceTitle</key>
			<string>茄子</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>VegetableCard12</string>
			<key>voiceTitle</key>
			<string>青椒</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>VegetableCard13</string>
			<key>voiceTitle</key>
			<string>秋葵</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>VegetableCard14</string>
			<key>voiceTitle</key>
			<string>丝瓜</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>VegetableCard15</string>
			<key>voiceTitle</key>
			<string>土豆</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>VegetableCard16</string>
			<key>voiceTitle</key>
			<string>豌豆</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>VegetableCard17</string>
			<key>voiceTitle</key>
			<string>西兰花</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>VegetableCard18</string>
			<key>voiceTitle</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>VegetableCard19</string>
			<key>voiceTitle</key>
			<string>玉米</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imagename</key>
			<string>PlantCard0</string>
			<key>voiceTitle</key>
			<string>万年青</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PlantCard1</string>
			<key>voiceTitle</key>
			<string>富贵竹</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PlantCard2</string>
			<key>voiceTitle</key>
			<string>九里香</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PlantCard3</string>
			<key>voiceTitle</key>
			<string>发财树</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PlantCard4</string>
			<key>voiceTitle</key>
			<string>罗汉松</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PlantCard5</string>
			<key>voiceTitle</key>
			<string>虎尾兰</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PlantCard6</string>
			<key>voiceTitle</key>
			<string>兰花</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PlantCard7</string>
			<key>voiceTitle</key>
			<string>铁树</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PlantCard8</string>
			<key>voiceTitle</key>
			<string>芦荟</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PlantCard9</string>
			<key>voiceTitle</key>
			<string>仙人球</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PlantCard10</string>
			<key>voiceTitle</key>
			<string>文竹</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>PlantCard11</string>
			<key>voiceTitle</key>
			<string>绿萝</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imagename</key>
			<string>FlowerCard0</string>
			<key>voiceTitle</key>
			<string>小雏菊</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FlowerCard1</string>
			<key>voiceTitle</key>
			<string>蝴蝶兰</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FlowerCard2</string>
			<key>voiceTitle</key>
			<string>康乃馨</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FlowerCard3</string>
			<key>voiceTitle</key>
			<string>百合</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FlowerCard4</string>
			<key>voiceTitle</key>
			<string>薰衣草</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FlowerCard5</string>
			<key>voiceTitle</key>
			<string>海棠</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FlowerCard6</string>
			<key>voiceTitle</key>
			<string>茶花</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FlowerCard7</string>
			<key>voiceTitle</key>
			<string>牡丹</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FlowerCard8</string>
			<key>voiceTitle</key>
			<string>向日葵</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FlowerCard9</string>
			<key>voiceTitle</key>
			<string>月季</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FlowerCard10</string>
			<key>voiceTitle</key>
			<string>虞美人</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FlowerCard11</string>
			<key>voiceTitle</key>
			<string>郁金香</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FlowerCard12</string>
			<key>voiceTitle</key>
			<string>风信子</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FlowerCard13</string>
			<key>voiceTitle</key>
			<string>水仙</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FlowerCard14</string>
			<key>voiceTitle</key>
			<string>紫罗兰</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FlowerCard15</string>
			<key>voiceTitle</key>
			<string>栀子花</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FlowerCard16</string>
			<key>voiceTitle</key>
			<string>玫瑰</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FlowerCard17</string>
			<key>voiceTitle</key>
			<string>荷花</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imagename</key>
			<string>AnimalCard0</string>
			<key>voiceTitle</key>
			<string>狮子</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>AnimalCard1</string>
			<key>voiceTitle</key>
			<string>猪</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>AnimalCard2</string>
			<key>voiceTitle</key>
			<string>狗</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>AnimalCard3</string>
			<key>voiceTitle</key>
			<string>羊</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>AnimalCard4</string>
			<key>voiceTitle</key>
			<string>猫</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>AnimalCard5</string>
			<key>voiceTitle</key>
			<string>豹子</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>AnimalCard6</string>
			<key>voiceTitle</key>
			<string>猴</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>AnimalCard7</string>
			<key>voiceTitle</key>
			<string>马</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>AnimalCard8</string>
			<key>voiceTitle</key>
			<string>大象</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>AnimalCard9</string>
			<key>voiceTitle</key>
			<string>鸭子</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>AnimalCard10</string>
			<key>voiceTitle</key>
			<string>老虎</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>AnimalCard11</string>
			<key>voiceTitle</key>
			<string>公鸡</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>AnimalCard12</string>
			<key>voiceTitle</key>
			<string>熊猫</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>AnimalCard13</string>
			<key>voiceTitle</key>
			<string>犀牛</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>AnimalCard14</string>
			<key>voiceTitle</key>
			<string>考拉</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>AnimalCard15</string>
			<key>voiceTitle</key>
			<string>斑马</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>AnimalCard16</string>
			<key>voiceTitle</key>
			<string>兔子</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>AnimalCard17</string>
			<key>voiceTitle</key>
			<string>花栗鼠</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imagename</key>
			<string>InsectCard0</string>
			<key>voiceTitle</key>
			<string>蟋蟀</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>InsectCard1</string>
			<key>voiceTitle</key>
			<string>萤火虫</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>InsectCard2</string>
			<key>voiceTitle</key>
			<string>蚊子</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>InsectCard3</string>
			<key>voiceTitle</key>
			<string>蚱蜢</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>InsectCard4</string>
			<key>voiceTitle</key>
			<string>蚂蚁</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>InsectCard5</string>
			<key>voiceTitle</key>
			<string>螳螂</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>InsectCard6</string>
			<key>voiceTitle</key>
			<string>蝴蝶</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>InsectCard7</string>
			<key>voiceTitle</key>
			<string>蜜蜂</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>InsectCard8</string>
			<key>voiceTitle</key>
			<string>蜻蜓</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>InsectCard9</string>
			<key>voiceTitle</key>
			<string>七星瓢虫</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imagename</key>
			<string>SeaCard0</string>
			<key>voiceTitle</key>
			<string>小丑鱼</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>SeaCard1</string>
			<key>voiceTitle</key>
			<string>贝壳</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>SeaCard2</string>
			<key>voiceTitle</key>
			<string>海豚</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>SeaCard3</string>
			<key>voiceTitle</key>
			<string>鳐鱼</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>SeaCard4</string>
			<key>voiceTitle</key>
			<string>海螺</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>SeaCard5</string>
			<key>voiceTitle</key>
			<string>龙虾</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>SeaCard6</string>
			<key>voiceTitle</key>
			<string>螃蟹</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>SeaCard7</string>
			<key>voiceTitle</key>
			<string>马克鱼</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>SeaCard8</string>
			<key>voiceTitle</key>
			<string>霞蝴蝶鱼</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>SeaCard9</string>
			<key>voiceTitle</key>
			<string>白鲸</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>SeaCard10</string>
			<key>voiceTitle</key>
			<string>海狮</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>SeaCard11</string>
			<key>voiceTitle</key>
			<string>海龟</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>SeaCard12</string>
			<key>voiceTitle</key>
			<string>海星</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>SeaCard13</string>
			<key>voiceTitle</key>
			<string>大白鲨</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imagename</key>
			<string>FigureCard0</string>
			<key>voiceTitle</key>
			<string>爸爸</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FigureCard1</string>
			<key>voiceTitle</key>
			<string>妈妈</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FigureCard2</string>
			<key>voiceTitle</key>
			<string>老奶奶</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FigureCard3</string>
			<key>voiceTitle</key>
			<string>老爷爷</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FigureCard4</string>
			<key>voiceTitle</key>
			<string>哥哥</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FigureCard5</string>
			<key>voiceTitle</key>
			<string>姐姐</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FigureCard6</string>
			<key>voiceTitle</key>
			<string>运动员</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FigureCard7</string>
			<key>voiceTitle</key>
			<string>警察</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FigureCard8</string>
			<key>voiceTitle</key>
			<string>快递员</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FigureCard9</string>
			<key>voiceTitle</key>
			<string>消防员</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FigureCard10</string>
			<key>voiceTitle</key>
			<string>护士</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FigureCard11</string>
			<key>voiceTitle</key>
			<string>医生</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>FigureCard12</string>
			<key>voiceTitle</key>
			<string>老师</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imagename</key>
			<string>NounCard0</string>
			<key>voiceTitle</key>
			<string>剪刀</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NounCard1</string>
			<key>voiceTitle</key>
			<string>水杯</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NounCard2</string>
			<key>voiceTitle</key>
			<string>时钟</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NounCard3</string>
			<key>voiceTitle</key>
			<string>奶瓶</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NounCard4</string>
			<key>voiceTitle</key>
			<string>袜子</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NounCard5</string>
			<key>voiceTitle</key>
			<string>雨伞</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NounCard6</string>
			<key>voiceTitle</key>
			<string>蛋糕</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NounCard7</string>
			<key>voiceTitle</key>
			<string>帽子</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NounCard8</string>
			<key>voiceTitle</key>
			<string>笑脸</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NounCard9</string>
			<key>voiceTitle</key>
			<string>裙子</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NounCard10</string>
			<key>voiceTitle</key>
			<string>裤子</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NounCard11</string>
			<key>voiceTitle</key>
			<string>衣服</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NounCard12</string>
			<key>voiceTitle</key>
			<string>火</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NounCard13</string>
			<key>voiceTitle</key>
			<string>大树</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NounCard14</string>
			<key>voiceTitle</key>
			<string>大山</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NounCard15</string>
			<key>voiceTitle</key>
			<string>房子</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imagename</key>
			<string>NumberCard0</string>
			<key>voiceTitle</key>
			<string>0</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NumberCard1</string>
			<key>voiceTitle</key>
			<string>1</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NumberCard2</string>
			<key>voiceTitle</key>
			<string>2</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NumberCard3</string>
			<key>voiceTitle</key>
			<string>3</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NumberCard4</string>
			<key>voiceTitle</key>
			<string>4</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NumberCard5</string>
			<key>voiceTitle</key>
			<string>5</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NumberCard6</string>
			<key>voiceTitle</key>
			<string>6</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NumberCard7</string>
			<key>voiceTitle</key>
			<string>7</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NumberCard8</string>
			<key>voiceTitle</key>
			<string>8</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>NumberCard9</string>
			<key>voiceTitle</key>
			<string>9</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imagename</key>
			<string>CountCard0</string>
			<key>voiceTitle</key>
			<string>1+1</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>CountCard1</string>
			<key>voiceTitle</key>
			<string>1+2</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>CountCard2</string>
			<key>voiceTitle</key>
			<string>1+3</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>CountCard3</string>
			<key>voiceTitle</key>
			<string>1+4</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>CountCard4</string>
			<key>voiceTitle</key>
			<string>1+5</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>CountCard5</string>
			<key>voiceTitle</key>
			<string>1+6</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>CountCard6</string>
			<key>voiceTitle</key>
			<string>1+7</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>CountCard7</string>
			<key>voiceTitle</key>
			<string>1+8</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>CountCard8</string>
			<key>voiceTitle</key>
			<string>1+9</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>CountCard9</string>
			<key>voiceTitle</key>
			<string>2+2</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>CountCard10</string>
			<key>voiceTitle</key>
			<string>2+3</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>CountCard11</string>
			<key>voiceTitle</key>
			<string>2+4</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>CountCard12</string>
			<key>voiceTitle</key>
			<string>2+5</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>CountCard13</string>
			<key>voiceTitle</key>
			<string>2+6</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>CountCard14</string>
			<key>voiceTitle</key>
			<string>2+7</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>CountCard15</string>
			<key>voiceTitle</key>
			<string>2+8</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>CountCard16</string>
			<key>voiceTitle</key>
			<string>3+3</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>CountCard17</string>
			<key>voiceTitle</key>
			<string>3+4</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>CountCard18</string>
			<key>voiceTitle</key>
			<string>3+5</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>CountCard19</string>
			<key>voiceTitle</key>
			<string>3+6</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>CountCard20</string>
			<key>voiceTitle</key>
			<string>3+7</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imagename</key>
			<string>EnglishCard0</string>
			<key>voiceTitle</key>
			<string>A</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard1</string>
			<key>voiceTitle</key>
			<string>B</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard2</string>
			<key>voiceTitle</key>
			<string>C</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard3</string>
			<key>voiceTitle</key>
			<string>D</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard4</string>
			<key>voiceTitle</key>
			<string>E</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard5</string>
			<key>voiceTitle</key>
			<string>F</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard6</string>
			<key>voiceTitle</key>
			<string>G</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard7</string>
			<key>voiceTitle</key>
			<string>H</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard8</string>
			<key>voiceTitle</key>
			<string>I</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard9</string>
			<key>voiceTitle</key>
			<string>J</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard10</string>
			<key>voiceTitle</key>
			<string>K</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard11</string>
			<key>voiceTitle</key>
			<string>L</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard12</string>
			<key>voiceTitle</key>
			<string>M</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard13</string>
			<key>voiceTitle</key>
			<string>N</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard14</string>
			<key>voiceTitle</key>
			<string>O</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard15</string>
			<key>voiceTitle</key>
			<string>P</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard16</string>
			<key>voiceTitle</key>
			<string>Q</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard17</string>
			<key>voiceTitle</key>
			<string>R</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard18</string>
			<key>voiceTitle</key>
			<string>S</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard19</string>
			<key>voiceTitle</key>
			<string>T</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard20</string>
			<key>voiceTitle</key>
			<string>U</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard21</string>
			<key>voiceTitle</key>
			<string>V</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard22</string>
			<key>voiceTitle</key>
			<string>W</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard23</string>
			<key>voiceTitle</key>
			<string>X</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard24</string>
			<key>voiceTitle</key>
			<string>Y</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>EnglishCard25</string>
			<key>voiceTitle</key>
			<string>Z</string>
		</dict>
	</array>
</array>
</plist>
